<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">-->
<!--    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">-->
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>

                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>


                    <h1 th:text="#{test}">test</h1>

                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>

                    <button type="button" class="btn btn-default" id="testbtnggg">
                        Launch Default Modal
                    </button>

                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-top">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Default Modal</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control" id="content" placeholder="请输入我要删除"/>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger disabled" disabled="disabled" id="deleteasdga">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="card card-primary card-outline">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <input type="text" name="test" class="form-control" /><button class="btn btn-secondary" id="testBtn">test</button>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div><!-- /.card -->
        </div>
        <!-- /.col-md-6 -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title m-0">Featured</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-title">Special title treatment</h6>

                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="card-title m-0">Featured</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-title">Special title treatment</h6>

                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-6 -->
    </div>
</div>

<!--<div layout:fragment="pagejs">-->
<!--    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!--    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>-->
<!--</div>-->

<script layout:fragment="js" th:inline="javascript">

    $(function (){

        $('#testBtn').click(() => handleTestBtn());

        var handleTestBtn = ()=>{
            $.ajax({
                url: "/console/postTest",
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                data: JSON.stringify({
                    "hello": ""
                }),
                success: function (result) {
                    alert(result)
                }
            });
        }



        $("#testbtnggg").click(function(){
            $("#myModal").modal('show');
            var btn = $('#myModal').find('#deleteasdga');
            $('#content').bind('input propertychange', function() {
                if ($(this).val().length >0 && $(this).val() === '123456') {
                    btn.removeAttr("disabled")
                    btn.removeClass("disabled")
                } else {
                    btn.attr("disabled", "disabled")
                    btn.addClass("disabled")
                }
            })


            $('#myModal').find('#deleteasdga').on('click', function (){
                alert(123133)
            })
        });



    })

</script>
</body>
</html>
