<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">demo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/select2-bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.1.0/dist/css/adminlte.min.css}">
    <link href="https://cdn.bootcdn.net/ajax/libs/overlayscrollbars/1.13.1/css/OverlayScrollbars.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.18.3/bootstrap-table.min.css" rel="stylesheet">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">-->
    <style>

        .pace {
            -webkit-pointer-events: none;
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .pace .pace-activity {
            display: none;
            position: fixed;
            z-index: 2000;
            top: 0;
            left: 40%;
            width: 100px;
            height: 30px;
            background-color: #f9edbe;
            border: 1px solid #f0c36d;
            -webkit-border-radius: 0 0 2px 2px;
            border-radius: 0 0 2px 2px;
            -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
            box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
            color: #222;
            padding: 6px 10px;
            visibility: visible;
            font-size: .875rem;
            pointer-events: none;
        }

        .pace.pace-active .pace-activity {
            display: block;
        }

        .pace .pace-activity::before,.pace .pace-activity::after {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            font-weight: bold;
            bottom: 3px;
            /*left: 50%;*/
            display: block;
            /*border: 5px solid #fff;*/
            /*border-radius: 50%;*/
            content: 'LOADING...';
        }

        /*.pace .pace-activity::before {*/
        /*    !*margin-left: -40px;*!*/
        /*    !*width: 80px;*!*/
        /*    !*height: 80px;*!*/
        /*    border-right-color: rgba(0, 0, 0, .2);*/
        /*    border-left-color: rgba(0, 0, 0, .2);*/
        /*    !*-webkit-animation: pace-theme-corner-indicator-spin 3s linear infinite;*!*/
        /*    !*animation: pace-theme-corner-indicator-spin 3s linear infinite;*!*/
        /*}*/

        /*.pace .pace-activity::after {*/
        /*    bottom: 50px;*/
        /*    margin-left: -20px;*/
        /*    width: 40px;*/
        /*    height: 40px;*/
        /*    border-top-color: rgba(0, 0, 0, .2);*/
        /*    border-bottom-color: rgba(0, 0, 0, .2);*/
        /*    -webkit-animation: pace-theme-corner-indicator-spin 1s linear infinite;*/
        /*    animation: pace-theme-corner-indicator-spin 1s linear infinite;*/
        /*}*/

        /*@-webkit-keyframes pace-theme-corner-indicator-spin {*/
        /*    !*0% { -webkit-transform: rotate(0deg); }*!*/
        /*    !*100% { -webkit-transform: rotate(359deg); }*!*/
        /*}*/
        /*@keyframes pace-theme-corner-indicator-spin {*/
        /*    !*0% { transform: rotate(0deg); }*!*/
        /*    !*100% { transform: rotate(359deg); }*!*/
        /*}*/
    </style>
</head>

<body class="hold-transition layout-top-nav layout-navbar-fixed">

<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-light navbar-white">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand">
                <img th:src="@{/webjars/AdminLTE/3.1.0/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Snekaydog-demo</span>
            </a>

<!--            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse order-3" id="navbarCollapse">-->

            <div class="order-1" >
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li th:class="${!menu.childs.isEmpty()? 'nav-item dropdown' : 'nav-item '}" th:each="menu : ${session.menuDTOS}">
                        <th:block th:if="${menu.childs.isEmpty()}">
                            <a th:href="@{${#strings.isEmpty(menu.url)} ? |#| : ${menu.url + '?t=123131'}}" class="nav-link">[[${menu.menuName}]]</a>
                        </th:block>
                        <th:block th:if="${!menu.childs.isEmpty()}">
                            <a id="dropdownSubMenu1" th:href="@{${#strings.isEmpty(menu.url)} ? |#| : ${menu.url + '?t=123131'} }"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false"
                               class="nav-link dropdown-toggle">[[${menu.menuName}]]</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li th:each="cmenu : ${menu.childs}">
                                    <a th:href="@{${#strings.isEmpty(cmenu.url)} ? |#| : ${cmenu.url}  }" class="dropdown-item">[[${cmenu.menuName}]]</a>
                                </li>
                            </ul>
                        </th:block>
                    </li>
                </ul>
            </div>

            <!-- Right navbar links -->
            <ul class="order-2 order-md-3 navbar-nav navbar-no-expand ml-auto">
                <!-- SEARCH FORM -->
                <form class="form-inline ml-0 ml-md-3">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img th:src="@{/webjars/AdminLTE/3.1.0/dist/img/user1-128x128.jpg}"  alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img th:src="@{/webjars/AdminLTE/3.1.0/dist/img/user1-128x128.jpg}"  alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img th:src="@{/webjars/AdminLTE/3.1.0/dist/img/user1-128x128.jpg}" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a id="user-dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle" sec:authentication="name">username</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a th:href="@{/user/profile}" class="dropdown-item">user profile</a></li>
<!--                        <li><a th:href="@{/myAuthority.html}" class="dropdown-item">my authority</a></li>-->
<!--                        <li><a sec:authorize="hasAuthority('ROLE_MY_APP')" th:href="@{/my-app.html}" class="dropdown-item">my app</a></li>-->
                        <li>
                            <form name="logoutform" th:action="@{/logout}" method="post">
                                <a class="dropdown-item" href="javascript:void(0)"
                                   onclick="document.forms['logoutform'].submit()">logout</a>
                            </form>
                        </li>


<!--                        <li class="dropdown-divider"></li>-->

<!--                        &lt;!&ndash; Level two dropdown&ndash;&gt;-->
<!--                        <li class="dropdown-submenu dropdown-hover">-->
<!--                            <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>-->
<!--                            <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">-->
<!--                                <li>-->
<!--                                    <a tabindex="-1" href="#" class="dropdown-item">level 2</a>-->
<!--                                </li>-->

<!--                                &lt;!&ndash; Level three dropdown&ndash;&gt;-->
<!--                                <li class="dropdown-submenu">-->
<!--                                    <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>-->
<!--                                    <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">-->
<!--                                        <li><a href="#" class="dropdown-item">3rd level</a></li>-->
<!--                                        <li><a href="#" class="dropdown-item">3rd level</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                                &lt;!&ndash; End Level three &ndash;&gt;-->

<!--                                <li><a href="#" class="dropdown-item">level 2</a></li>-->
<!--                                <li><a href="#" class="dropdown-item">level 2</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        &lt;!&ndash; End Level two &ndash;&gt;-->
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0"> Top Navigation <small>Example 3.0</small></h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Layout</a></li>
                            <li class="breadcrumb-item active">Top Navigation</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container">
                <div layout:fragment="content"></div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->



</div>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/overlayscrollbars/1.13.1/js/jquery.overlayScrollbars.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.18.3/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.18.3/extensions/addrbar/bootstrap-table-addrbar.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/pace/1.2.4/pace.min.js"></script>
<script th:src="@{/webjars/AdminLTE/3.1.0/dist/js/adminlte.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var baseURL = /*[[@{/}]]*/ '';
    /*]]>*/
    window.g = {
        test: "12312313"
    }

    // window.paceOptions = {
    //     ajax: {
    //         trackMethods: ['GET', 'POST']
    //     }
    // }

    function loading(elid, text) {
        let t = text || 'submit'
        let el = $(`#${elid}`);
        el.prop("disabled", true);
        el.html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>${t}...`);
    }

</script>
<script th:src="@{/js/main.js}"></script>
<th:block layout:fragment="pagejs" th:remove="tag"/>
<th:block layout:fragment="js" type="text/javascript" th:inline="javascript"/>
</body>

</html>
