<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>AdminLTE 3 | Recover Password</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css" >
  <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.1.0/dist/css/adminlte.min.css}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Admin</b>LTE</a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
      <form th:action="@{/recover-password.html}" method="post" id="restPwdForm">
        <input type="hidden" name="uuid" th:value="${uuid}">
        <div class="input-group mb-3">
          <input type="password" id="password" class="form-control" maxlength="25" name="recoverPasswordDTO.password" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" maxlength="25" name="recoverPasswordDTO.retypePassword" placeholder="Confirm Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block" id="submitBtn">Change password</button>
          </div>
        </div>
      </form>
      <p class="mt-3 mb-1">
        <a th:href="@{/login.html}">Login</a>
      </p>
    </div>
  </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-validate/1.9.0/jquery.validate.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-validate/1.9.0/additional-methods.min.js"></script>

<script>
  $(function (){

    $.validator.setDefaults({
      submitHandler: function (form) {
        console.log("Form successful submitted!");
        loading('submitBtn');
        form.submit();
      }
    });

    $('#restPwdForm').validate({
      rules: {
        "recoverPasswordDTO.password": {
          required: true,
          minlength: 16,
          maxlength: 25
        },
        "recoverPasswordDTO.retypePassword": {
          required: true,
          minlength: 16,
          maxlength: 25,
          equalTo: "#password"
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        if (element.is(':radio') || element.is(':checkbox')) { // 如果是radio或checkbox
          var eid = element.attr('name'); // 获取元素的name属性
          error.appendTo(element.parent()); // 将错误信息添加当前元素的父结点后面
        } else {
          element.closest('.input-group,.CAPTCHACode').append(error);
        }
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });

    function loading(elid) {
      var el = $("#" + elid);
      el.prop("disabled", true);
      el.html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Request new password...`);
    }

  });
</script>
</body>
</html>
