<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2.html}">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header  card-outline">
            <h3 class="card-title">
                <i class="fas fa-edit"></i>Modal Examples
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="fixed-table-toolbar" id="toolbar">
                <a class="btn btn-w-m btn-primary" sec:authorize="hasAuthority('ROLE_JOB_ADD')" th:href="@{/roles/add}"><i class="fa fa-plus"></i>新增</a>
            </div>
            <table id="job-table">
            </table>
        </div>
    </div>
</div>


<script layout:fragment="js">
    $(function () {

        $('#job-table').bootstrapTable({
            url: "/job/list",
            dataType: 'json',
            method: 'get',
            toolbar: '#toolbar',
            contentType: "application/x-www-form-urlencoded",//发送到服务器的数据编码类型
            pagination: true,            //是否显示分页
            pageSize: 10,                //设置每页的记录行数
            pageNumber: 1,               //设置首页页码
            singleSelect: true,         //设置是否单选
            checkboxHeader: true,
            clickToSelect: true,
            search: true,
            showSearchButton: true,
            showRefresh: true,   //是否显示刷新按钮
            showToggle: false,    //是否显示详细视图和列表视图的切换按钮
            showColumns: true,   //选择要显示的列
            striped: true,      //是否显示行间隔色
            catch: true, //禁用AJAX数据缓存
            trimOnSearch:true,
            searchOnEnterKey: false,
            sidePagination: "server",    //服务端处理分页
            queryParamsType: "undefined",//设置参数格式
            queryParams: function queryParams(params) {//设置查询参数
                console.log(params)
                return {
                    pageNum: params.pageNumber,
                    pageSize: params.pageSize,
                    roleName: params.searchText
                };
            },
            responseHandler: function (res) {
                // console.log(res)
                if (res) {
                    return {
                        rows: res.content,
                        total: res.totalElements
                    };
                } else {
                    return {
                        rows: [],
                        total: 0
                    };
                }
            },
            columns: [
                {
                    checkbox: true
                },{
                    title: 'jobName',
                    field: 'jobName',
                    valign: 'middle'
                },
                {
                    title: 'jobGroup',
                    field: 'jobGroup',
                    valign: 'middle'
                },
                {
                    title: 'invokeTarget',
                    field: 'invokeTarget',
                    valign: 'middle'
                },
                {
                    title: 'cronExpression',
                    field: 'cronExpression',
                    valign: 'middle'
                },
                {
                    title: 'status',
                    field: 'status',
                    valign: 'middle'
                },
                {
                    title: 'createTime',
                    field: 'createTime',
                    valign: 'middle'
                },
                {
                    field: 'operate',
                    valign: 'middle',
                    align: 'center',
                    formatter: 'operateFormatter'
                },
            ]

        });
    })

    function operateFormatter(value, row, index) {
        if([[${#authorization.expression('hasAuthority("ROLE_USER_ROLES_EDIT")')}]]) {
            return [ '<a href="/job/'+row.id+'/edit" class="btn btn-sm btn-secondary" title="update"><i class="fas fa-edit"></i></a>',].join('');
        }
    }
</script>

</body>
</html>
